<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.luna.blindfire" android:versionCode="10" android:versionName="0.9">
  <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="35"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <application android:label="飞棍来咯" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false" android:hardwareAccelerated="true" android:usesCleartextTraffic="false" android:enableOnBackInvokedCallback="false">
    <activity android:name="com.luna.blindfire.MainActivity" android:screenOrientation="portrait" android:configChanges="orientation|screenSize|keyboardHidden" android:exported="true">
      <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
    </activity>
  </application>
</manifest>
